<div class="form-row" id="verify-form">
    <div class="numbers-verify">
        <div class="lines-number-input">
            <input type="text" class="line-number" maxlength="1" autofocus="" id="number1">
            <input type="text" class="line-number" maxlength="1" id="number2">
            <input type="text" class="line-number" maxlength="1" id="number3">
            <input type="text" class="line-number" maxlength="1" id="number4">
        </div>
    </div>
    <h6 class="text-danger">{{ form.code.errors }}</h6>
</div>
