<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f7858d">
    <meta name="msapplication-navbutton-color" content="#f7858d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">
    <meta name="description" content="{% block description %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
    {% include 'share/header.html' %}
    {% block extra_header %}{% endblock %}
</head>

<body>
<div class="wrapper">

    <!-- Start header -->
    <header class="main-header">
        {% include 'share/main_header.html' %}
    </header>
    <!-- End header -->

    <!-- Start main-content -->
    {% block content %}{% endblock %}
    <!-- End main-content -->

    <!-- Start footer -->
    {% include 'share/footer.html' %}
    <!-- End footer -->
</div>

<!--JS-->
{% include 'share/js.html' %}

{% block extra_js %}{% endblock %}
</body>

</html>
